body {
	background-color: #f8f8f8;
}

h3{
	color: #4286f4;
}

h3 span.red {
	color : red;
}

form {
	font-family: "Courrier";
	font-size: 18px;
}

form input{
	width: 100px;
}

form input, form select, form button {
	padding: 5px 7px;
}